/********** Base styles **********/
* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}
body {
  padding: 0% 2.22% 0% 2.22%;
  background-color: antiquewhite;
}

h1 {
  font-size: 175%;
  margin-bottom: 3.5%;
  margin-top: 2%;
  text-align: center;
}

p {
  border: 1px solid black;
  width: 30%;
  height: 10%;
  text-align: center;
  font-size: 125%;
  margin-bottom: 1.7%;
  font-weight: bold;
}

div {
  background-color: gainsboro;
  margin-bottom: 2.22%;
  font-size: 100%;
}

.row {
  width: 100%;
}

#chicken > p {
  background-color: peru;
}

#beef > p {
  background-color: brown;
  color: burlywood;
}

#sushi > p {
  background-color: salmon;
}
/********** Large devices only **********/
@media (min-width: 992px) {
  .lg {
    float: left;
    border: 1px solid black;
    width: 32%;
    padding: 0% 1% 1% 1%;
  }
  p {
    position: relative;
    left: 73.5%;
  }

  #chicken,
  #beef {
    margin-right: 2%;
  }
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .md-2,
  .md-1 {
    float: left;
    border: 1px solid black;
    padding: 0% 1% 1% 1%;
  }
  .md-2 {
    width: 49%;
  }
  .md-1 {
    width: 100%;
  }
  #chicken > p,
  #beef > p {
    position: relative;
    left: 72.5%;
  }
  #sushi > p {
    position: relative;
    left: 71%;
  }
  #chicken {
    margin-right: 2%;
  }
}

/********** Small devices only **********/
@media (max-width: 767px) {
  .sm-1 {
    float: left;
    position: relative;
    height: 30%;
    border: 1px solid black;
    width: 100%;
    padding: 0% 2% 2% 2%;
  }
  p {
    position: relative;
    left: 72.2%;
  }
  body {
    padding: 0% 3% 0% 3%;
  }
}
